# Ignore Terraform temporary files, state files, and sensitive data
ssh.keys
variables.tf
.trunk

# Terraform state files
*.tfstate
*.tfstate.*
*.lock.*

# Crash logs
crash.log

# Terraform lock files (optional to ignore)
.terraform.lock.hcl

# Local override files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Provider plugins and modules
.terraform/